environment: dev

jenkins:
  controller:
    admin:
      username: admin
      password: admin123

    resources:
      limits:
        cpu: "500m"
        memory: "1Gi"
      requests:
        cpu: "250m"
        memory: "512Mi"

    persistentVolume:
      size: 10Gi

    JCasC:
      configScripts:
        seed-job: |
          jobs:
            - script: >
                folder('development') {
                  displayName('Development Jobs')
                  description('Jobs for development environment')
                }

                pipelineJob('development/django-app-build') {
                  description('Build Django application for development')
                  definition {
                    cpsScm {
                      scm {
                        git {
                          remote {
                            url("https://github.com/vladyslav-panchenko280/django-jenkins-app.git")
                            credentials("github-token")
                          }
                          branches("*/dev")
                        }
                      }
                      scriptPath("services/django-app/Jenkinsfile")
                    }
                  }
                  triggers {
                    scm('H 0 * * *')
                  }
                }
