grafana:
  global:
    rbac:
      create: true

  replicas: 1

  service:
    type: LoadBalancer
    port: 80
    targetPort: 3000
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"

  persistence:
    enabled: true
    storageClassName: ebs-sc
    size: 10Gi
    accessModes:
      - ReadWriteOnce

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  securityContext:
    runAsNonRoot: true
    runAsUser: 472
    fsGroup: 472

  podDisruptionBudget:
    minAvailable: 1

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
          access: proxy
          isDefault: true
          jsonData:
            timeInterval: 30s

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

  dashboards:
    default:
      kubernetes-cluster:
        gnetId: 7249
        revision: 1
        datasource: Prometheus
      kubernetes-pods:
        gnetId: 6417
        revision: 1
        datasource: Prometheus
      node-exporter:
        gnetId: 1860
        revision: 31
        datasource: Prometheus

  plugins:
    - grafana-piechart-panel
    - grafana-clock-panel
    - grafana-simple-json-datasource

  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/"
      serve_from_sub_path: false
    analytics:
      check_for_updates: true
    log:
      mode: console
      level: info
    paths:
      data: /var/lib/grafana/
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      folder: /tmp/dashboards
      provider:
        foldersFromFilesStructure: true
    datasources:
      enabled: true
      label: grafana_datasource

  rbac:
    create: true
    pspEnabled: false

  serviceAccount:
    create: true
    name: grafana

environment: base

namespace: monitoring
