environment: dev

argo-cd:
  global:
    logging:
      level: debug

  server:
    replicas: 1
    service:
      type: NodePort

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi

  repoServer:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi

  controller:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

  redis:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

  redis-ha:
    enabled: false

  applicationSet:
    replicas: 1

  configs:
    cm:
      timeout.reconciliation: 60s
